.news-container {
  width: 40%;
  padding-top: 20px;
  height: 60vh;
  background-color: #e6f0fa;
  margin-left: 10px;
  margin-right: 5vw;
  overflow-y: auto;
}

.news-table {
  display:flex;
  height: 100%;
  text-align: center;
  position: relative;
}

.table-title {
  color: #FF2997;
  font-size: 1.5em;
  padding-bottom: 20px;
  font-family: 'Poller One', cursive;
  letter-spacing: 1vw;
}

.news-table td {
  max-width: 100%;
}


.news-table table {
  max-width: 100%;
  border-collapse: collapse;
}


.facebook-post {
  background-color: white;
  margin-top: 10px;
  margin-left: 5px;
  margin-right: 2px;
  padding: 10px;
  text-align: left;
  display: flex;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 2px;
  font-size: .7em;
  max-width: 100%;
}

.facebook-post h2:hover {
  color: white;
  background-color: #3b5999;
  transition: all .2s ease;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1), 0 2px 5px rgba(0,0,0,0.2);
  padding-left: 5px;
}

.facebook-post h2:active {
  box-shadow: inset 0px 0px 4px #ccc;
}

.facebook-post h2 {
  font-size: .5em;
  color: #3b5999;
  padding: 5px;
  padding-left: 0px;
  background-color: white;
  transition: all .2s ease;
  width: 90%;
  margin: 5px;
}

.facebook-post p {
  overflow-wrap: break-word;
  word-wrap: break-word;
  margin: 10px;
  margin-top: 0;
  margin-bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.facebook-post a {
  text-decoration: none;
}

.facebook-logo {
  margin-left: 5px;
  margin-right: 5px;
}

.arrow {
  color: white;
  position: relative;
  left: 0;
  transition: left .2s ease;
}

.facebook-post h2:hover .arrow {
  color: white;
  left: 10px;
  transition: left .2s ease;
}

@media screen and (max-width: 1024px) and (min-width: 601px) {
  .news-container {
    width: 50%;
    margin-right: 5px;
    margin-left: 5px;
  }
}


@media screen and (max-width: 600px) {
  .news-container {
    width: 100%;
    margin: 0;
    height: 80vh;
  }
}
