.facebook-post {
  background-color: white;
  margin-top: 10px;
  padding: 10px;
  text-align: left;
  max-width: 100%;
}

.facebook-post h2:hover {
  color: white;
  background-color: #3b5999;
  transition: all .2s ease;
}

.facebook-post h2 {
  font-size: .5em;
  color: #3b5999;
  padding: 5px;
  background-color: white;
  transition: all .2s ease;
}

.facebook-post p {
  overflow-wrap: break-word;
  word-wrap: break-word;
  margin-left: 5px;
}

.facebook-logo {
  margin-left: 5px;
  margin-right: 5px;
}

.arrow {
  color: white;
  position: relative;
  left: 0;
  transition: left .2s linear;
}

.facebook-post h2:hover .arrow {
  color: white;
  left: 10px;
  transition: left .2s linear;
}

.news-container {
  width: 40%;
  padding-top: 20px;
  height: 60vh;
  background-color: #e6f0fa;
  margin-left: 10px;
  margin-right: 5vw;
  overflow-y: auto;
}

.table-title {
  color: #FF2997;
}

.shows-contact {
  width: 100%;
  background-color: #ebf3fb;
  position: absolute;
  bottom: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
  transition: all .5s ease;
  z-index: 500;
}

.shows-contact p {
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 2px;
  font-size: .8em;
  text-decoration: none;
  color: #FF2997;
}

.shows-contact:hover p {
  color: white;
  transition: all .5s ease;
}

.shows-contact:hover {
  background-color: #FF2997;
  transition: all .5s ease;
  cursor: pointer;
}

@media screen and (max-width: 1024px) and (min-width: 601px) {
  .news-container {
    width: 50%;
    margin-right: 5px;
    margin-left: 5px;
  }
}


@media screen and (max-width: 600px) {
  .news-container {
    width: 100%;
    margin: 0;
    height: 80vh;
  }
}
