.social-container {
  padding-top: 5px;
  padding-bottom: 5px;
  margin-left: 0px;
  margin-right: 0px;
  transition: all .5s ease;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 100;
  background: white;
}

.social-container p {
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  letter-spacing: 1px;
  margin-top: 0;
  margin-bottom: 0;
  background-color: pink;
  padding-top: 3vh;
  padding-bottom: 3vh;
}

.social-logo {
  margin-left: 5vw;
  margin-right: 5vw;
  transition: all .2s ease;
}

.social-logo.facebook {
  color: #3b5999;
  transition: color .2s ease;
}

.social-logo.twitter {
  color: #55acee;
  transition: color .2s ease;
}

.social-logo.instagram {
  color: #e4405f;
  transition: color .2s ease;
}

.social-logo.bandcamp {
  color: #639AA9;
  transition: color .2s ease;
}

.social-logo:hover {
  transition: color .2s ease;
  cursor: pointer;
  color: #2e3032;
}

@media screen and (max-width: 600px) {
  .social-container {
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: 0px;
    margin-right: 0px;
    transition: all .5s ease;
    position: fixed;
    bottom: 0;
    width: 100vw;
    z-index: 100;
    background: white;
  }
}
