body {
  background: #fff5ee;
}

.App {
  text-align: center;
}

.top-container {
  height: 100vh;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('../public/fjords.jpg');
  background-size: cover;
  /*background-position: center;
  background-attachment: fixed;
  border-bottom: 2px solid #595959;*/
  position: fixed;
  width: 100%;
  z-index: -50;
}

.band-info {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 90vh;
  overflow-x: hidden;
  overflow-y: hidden;
}

.banner-right {
  width: 25%;
}

.banner-right img {
  width: 200%;
  transform: scaleX(-1);
  position: relative;
  right: 100%;
}

.banner-left {
  width: 25%;
}


.banner-left img {
  width: 200%;
}

.info-container {
  padding-top: 15px;
  padding-bottom: 15px;
  margin-left: 0px;
  margin-right: 0px;
  transition: all .5s ease;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 100;
  background: white;
}

.info-container p {
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  letter-spacing: 1px;
  margin-top: 0;
  margin-bottom: 0;
  background-color: pink;
  padding-top: 3vh;
  padding-bottom: 3vh;
}

.mid-container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  opacity: 0;
  transition: all .5s ease;
  position: relative;
  top: 100px;
}

.band-name {
  opacity: 1;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.band-name-text {
  background-color: white;
  color: black;
  text-shadow: 0px 2px 3px 	black, -2px -1px 0px pink;
  -webkit-background-clip: text;
     -moz-background-clip: text;
          background-clip: text;
  font-family: 'Bungee Shade', cursive;
  font-size: 8em;
  margin: 0;
  padding: 0;
  z-index: 2;
  transition: all 1s ease;
}

.shows-table {
  /*display:flex;
  justify-content:center;*/
  width: 100%;
  height: 100%;
  text-align: center;
  position: relative;
}

.shows-table table {
  width: 100%;
  border-collapse: collapse;
}

.top-row td {
  width: 20%;
  font-size: 1.2em;
}

.shows-table th {
  padding-bottom: 20px;
  font-family: 'Poller One', cursive;
  letter-spacing: 1vw;
  font-size: 1.5em;
  color: black;
}

.shows-table tr {
  border-bottom: 1px solid #e1d8cf;
  transition: all .5s ease;
}

.shows-table tr:hover {
  background-color: #ebf3fb;
  transition: all .5s ease;
  cursor: pointer;
}

.shows-table td {
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 2px;
  font-size: .8em;
}

.shows-table tr:first-child {
  border-bottom: 1px solid #e1d8cf;
  font-size: 1.2em;
}

.shows-table tr:nth-last-child(1) {
  border-bottom: none;
}

.shows-contact {
  width: 100%;
  background-color: #ebf3fb;
  position: absolute;
  bottom: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
  transition: all .5s ease;
}

.shows-contact:hover {
  background-color: #cfd8e1;
  transition: all .5s ease;
  cursor: pointer;
}

.shows-contact p {
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 2px;
  font-size: .8em;
  text-decoration: none;
  color: black;
}

.shows-container {
  width: 70%;
  padding-top: 20px;
  height: 45vh;
  background-color: #e6f0fa;
  margin-left: 5vw;
  margin-right: 10px;
}

.news-container {
  width: 30%;
  padding-top: 20px;
  height: 45vh;
  background-color: #e6f0fa;
  margin-left: 10px;
  margin-right: 5vw;
}

.music-container {
  background-color: #e6f0fa;
  margin-top: 20px;
  margin-left: 5vw;
  margin-right: 5vw;
  opacity: 0;
  transition: all 1s ease;
  position: relative;
  top: 100px;
  margin-bottom: 100px;
  padding-top: 20px;
  height: 45vh;
}

.music-content {
  display: flex;
  justify-content: center;
}

.music-content img {
  max-height: 300px;
}

.music-title h1 {
  font-family: 'Poller One', cursive;
  letter-spacing: 1vw;
  font-size: 2em;
  margin-top: 0;
  margin-bottom: 20px;
  color: black;
}

.social-logo {
  color: #2e3032;
  margin-left: 5vw;
  margin-right: 5vw;
  transition: all .2s ease;

}

.social-logo:hover {
  transition: text-shadow .5s ease;
  cursor: pointer;
}

.social-logo.facebook:hover {
  color: #3b5999;
  transition: color .5s ease;
}

.social-logo.twitter:hover {
  color: #55acee;
  transition: color .5s ease;
}

.social-logo.instagram:hover {
  color: #e4405f;
  transition: color .5s ease;
}
